<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/top.css">
    <link rel="stylesheet" href="../css/batman.css">
    <link rel="stylesheet" href="../css/spai.css">
    <link rel="stylesheet" href="../css/america.css">
    <title>Document</title>
</head>

<body>
    <!-- baner -->
    <div class="containe" id="ca">
        <div class="banerdiv">
            <!-- <a href="https://www.google.com/">google</a> -->
            <div class="description">
                <a class="p1" href="../index.html">COMIcSam</a>
                <p class="p2">PILOT</p>
                <!-- <input id="chek" type="checkbox"> -->
                <label for="chek" class="icon-menu"></label>


            </div>
            <div class="description2">
                <label for="">* We can all be<br><label>&nbsp</label><label>&nbsp</label> Super Heroes</label>
            </div>
        </div>

    </div>

    <!-- nav -->
    <!-- nav -->
    <div class="idnav">
        <div class="idnav2">


            <ul class="idgaul">

                <li class="idgali"><a>DC</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./Batman.html">Batman</a> </li>
                        <li class="idgali"><a href="./superman.html">Superman</a></li>
                        <li class="idgali"><a href="./ww.html">W W</a></li>
                    </ul>
                </li>
                <li class="idgali"><a>Marvel</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./america.html">C America</a> </li>
                        <li class="idgali"><a href="./spaydi.html">Spider Man</a></li>
                        <li class="idgali"><a href="./xmen.html">X-Men</a></li>
                    </ul>
                </li>
                <li class="idgali"><a>Gallery</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./top.html">Top</a> </li>

                    </ul>
                </li>
                <!-- other -->
                <li class="as">
                    <div class="idform">

                        <label>ShowCase Your Work →</label>
                        <div class="form-con">
                            <input class="idin" type="text" placeholder="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- end -->
    <div class="imagenes">
        <div class="batdetalle">
            <label class="batdetalle2">
                Capitán AméricaPersonaje de Marvel Comics, Primera aparición Captain America Comics #1 (marzo de 1941) Creador(es) Joe Simon Jack Kirby Interpretado por Matt Salinger (1990) Chris Evans (2011-presente) Información Nombre original
                Steven Grant Rogers Alias Capitán América Estatura 1,63 m Peso 95 kg Nacimiento 4 de julio Especialidad Sentidos, agilidad, velocidad y fuerza sobrehumanas. Gran habilidad con armas de fuego y con su escudo. Instinto de liderazgo, gran
                resistencia, inmune a gases y enfermedades, curación y regeneración acelerada. Genio táctico, artista marcial, acróbata experto Equipamiento Escudo de vibranio , <br> <br> El Capitán América fue diseñado como un supersoldado patriota que
                luchaba frecuentemente contra las potencias del Eje en la Segunda Guerra Mundial, y fue el personaje más popular de Timely Comics durante el período de guerra. La popularidad de superhéroes se desvaneció después de la guerra, y el cómic
                del Capitán América dejó de editarse en 1950, con un breve resurgimiento en 1953. <br> <br> Desde que Marvel Comics revivió al personaje en 1964, el Capitán América se ha mantenido en publicación. El Capitán América viste un traje que
                lleva un motivo de la bandera de los Estados Unidos, y está armado con un escudo. <br> <br> A pesar de que el Capitán América a menudo lucha por mantener sus ideales como un hombre fuera de su tiempo con sus realidades modernas, él sigue
                siendo una figura muy respetada en su comunidad, incluyendo el convertirse en el líder de los Vengadores durante mucho tiempo. </label>
        </div>
        <!-- <div class="imgcontent">
            <div id="img5">
            </div>
        </div> -->

        <div class="imgcontent">
            <img class="imgclas" src="../img/ca1.jpg" alt="">
            <!-- <div class="imgcontent">
                Batman vs Superman - 2016
                <img id="batoculto" class="imgclas" src="../img/batgif.gif" alt="Batman vs Superman - 2016">
            </div> -->
        </div>

        <!-- <div id="img7">
        </div> -->


    </div>
    <script src="../bookshop/jquery-3.3.1.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>