<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/batman.css">
    <title>Document</title>
</head>

<body>
    <!-- baner -->
    <div class="containe" id="BATS">
        <div class="banerdiv">
            <!-- <a href="https://www.google.com/">google</a> -->
            <div class="description">
                <a class="p1" href="../index.html">COMIcSam</a>
                <p class="p2">PILOT</p>
                <!-- <input id="chek" type="checkbox"> -->
                <label for="chek" class="icon-menu"></label>


            </div>
            <div class="description2">
                <label for="">* We can all be<br><label>&nbsp</label><label>&nbsp</label> Super Heroes</label>
            </div>
        </div>

    </div>

    <!-- nav -->
    <!-- nav -->
    <div class="idnav">
        <div class="idnav2">


            <ul class="idgaul">

                <li class="idgali"><a>DC</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./Batman.html">Batman</a> </li>
                        <li class="idgali"><a href="./superman.html">Superman</a></li>
                        <li class="idgali"><a href="./ww.html">W W</a></li>
                    </ul>
                </li>
                <li class="idgali"><a>Marvel</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./america.html">C America</a> </li>
                        <li class="idgali"><a href="./spaydi.html">Spider Man</a></li>
                        <li class="idgali"><a href="./xmen.html">X-Man</a></li>
                    </ul>
                </li>
                <li class="idgali"><a>Gallery</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./top.html">Top</a> </li>

                    </ul>
                </li>
                <!-- other -->
                <li class="as">
                    <div class="idform">

                        <label>ShowCase Your Work →</label>
                        <div class="form-con">
                            <input class="idin" type="text" placeholder="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="imagenes">
        <div class="batdetalle">
            <p class="batdetalle2">
                <strong>Batman</strong> Es para muchos, el superhéroe más interesante y con la mejor historia en todo el mundo de DC Comics, y la reciente trilogía de películas de Christopher Nolan es una pequeña prueba de ello. En realidad, las mejores
                historias de Batman se encuentran en sus cómics, y estos son 11 imperdibles para todo fanático del Caballero de la Noche. <br> <br> “Los mejores héroes los crean sus enemigos”, no recuerdo quién dijo esa frase, pero es completamente cierta,
                sobre todo en el caso de Batman. Este superhéroe cuenta con algunos de los mejores villanos en todo el mundo de los cómics, desde el brillante, maravilloso y desquiciado Joker, hasta otros como Bane, El Pingüino y Dos Caras, entre tantos
                otros. Además, el pasado de Bruce Wayne es tan oscura y llena de traumas y pesadez, que la hacen una historia brillante. Ni Superman, ni Wonder Woman, ni Iron Man, Spider-Man o ninguno de Marvel tiene un pasado tan fascinante como el Caballero
                de la Noche, quien se hizo héroe sin la necesidad de tener ningún poder sobrehumano. Personalmente, las historias de personajes de cómics que más me fascinan son las de Wolverine, Magneto, Daredevil y Batman. <br> <br> Las primeras historias
                que aparecen en el cómic Batman fueron escritas por Bill Finger y Bob Kane, aunque años después no se acreditó a Finger cómo el co-creador de Batman. Las primeras historias presentan a un Batman vengativo, que no dudara en asesinar cuándo
                alguien se interponga en su camino. </p>
        </div>
        <!-- <div class="imgcontent">
            <div id="img5">
            </div>
        </div> -->

        <div class="imgcontent">
            <img class="imgclas" src="../img/batman.PNG" alt="">
            <div class="imgcontent">
                Batman vs Superman - 2016
                <img id="batoculto" class="imgclas" src="../img/batgif.gif" alt="Batman vs Superman - 2016">
            </div>
        </div>

        <!-- <div id="img7">
        </div> -->


    </div>

    <!-- nav end -->
    <script src="../bookshop/jquery-3.3.1.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>