<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/top.css">
    <link rel="stylesheet" href="../css/batman.css">
    <link rel="stylesheet" href="../css/spai.css">
    <title>Document</title>
</head>

<body>
    <!-- baner -->
    <div class="containe" id="spi">
        <div class="banerdiv">
            <!-- <a href="https://www.google.com/">google</a> -->
            <div class="description">
                <a class="p1" href="../index.html">COMIcSam</a>
                <p class="p2">PILOT</p>
                <!-- <input id="chek" type="checkbox"> -->
                <label for="chek" class="icon-menu"></label>


            </div>
            <div class="description2">
                <label for="">* We can all be<br><label>&nbsp</label><label>&nbsp</label> Super Heroes</label>
            </div>
        </div>

    </div>

    <!-- nav -->
    <!-- nav -->
    <div class="idnav">
        <div class="idnav2">


            <ul class="idgaul">

                <li class="idgali"><a>DC</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./Batman.html">Batman</a> </li>
                        <li class="idgali"><a href="./superman.html">Superman</a></li>
                        <li class="idgali"><a href="./ww.html">W W</a></li>
                    </ul>
                </li>
                <li class="idgali"><a>Marvel</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./america.html">C America</a> </li>
                        <li class="idgali"><a href="./spaydi.html">Spider Man</a></li>
                        <li class="idgali"><a href="./xmen.html">X-Man</a></li>
                    </ul>
                </li>
                <li class="idgali"><a>Gallery</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./top.html">Top</a> </li>

                    </ul>
                </li>
                <!-- other -->
                <li class="as">
                    <div class="idform">

                        <label>ShowCase Your Work →</label>
                        <div class="form-con">
                            <input class="idin" type="text" placeholder="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- end -->
    <div class="imagenes">
        <div class="batdetalle">
            <p class="batdetalle2">
                Spider-Man (llamado Hombre Araña en muchas de las traducciones al español) es un personaje ficticio y un superhéroe que aparece en los libros e historietas publicados por Marvel Comics. <br> <br> Fue creado por Stan Lee y Steve Ditko.
                Su primera aparición fue en el número 15 de Amazing Fantasy en agosto de 1962. Lee y Ditko lo concibieron como un huérfano criado por su tío Ben y su tía May. Al ser adolescente, tiene que lidiar con todos los problemas típicos de un joven
                de su edad además de enfrentarse a los criminales con un disfraz rojo y azul. <br> <br> Entre sus superpoderes se encuentra una gran agilidad y flexibilidad, así como la capacidad de aferrarse a la mayoría de superficies. Además logró
                crear unos lanzatelarañas o lanzarredes. Otro de sus superpoderes principales es su «sentido arácnido» el cual le avisa cuando está en peligro o cuando el peligro se acerca. </p>
        </div>
        <!-- <div class="imgcontent">
            <div id="img5">
            </div>
        </div> -->

        <div class="imgcontent">
            <img class="imgclas" src="../img/spi5.jpg" alt="">
            <!-- <div class="imgcontent">
                Batman vs Superman - 2016
                <img id="batoculto" class="imgclas" src="../img/batgif.gif" alt="Batman vs Superman - 2016">
            </div> -->
        </div>

        <!-- <div id="img7">
        </div> -->


    </div>
    <script src="../bookshop/jquery-3.3.1.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>