<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/superman.css">
    <link rel="stylesheet" href="../css/batman.css">
    <title>Document</title>
</head>

<body>
    <!-- baner -->
    <div class="containe" id="sups">
        <div class="banerdiv">
            <!-- <a href="https://www.google.com/">google</a> -->
            <div class="description">
                <a class="p1" href="../index.html">COMIcSam</a>
                <p class="p2">PILOT</p>
                <!-- <input id="chek" type="checkbox"> -->
                <label for="chek" class="icon-menu"></label>


            </div>
            <div class="description2">
                <label for="">* We can all be<br><label>&nbsp</label><label>&nbsp</label> Super Heroes</label>
            </div>
        </div>

    </div>

    <!-- nav -->
    <!-- nav -->
    <div class="idnav">
        <div class="idnav2">


            <ul class="idgaul">

                <li class="idgali"><a>DC</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./Batman.html">Batman</a> </li>
                        <li class="idgali"><a href="">Superman</a></li>
                        <li class="idgali"><a href="./ww.html">W W</a></li>
                    </ul>
                </li>
                <li class="idgali"><a>Marvel</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./america.html">C America</a> </li>
                        <li class="idgali"><a href="./spaydi.html">Spider Man</a></li>
                        <li class="idgali"><a href="./xmen.html">X-Man</a></li>
                    </ul>
                </li>
                <li class="idgali"><a>Gallery</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./top.html">Top</a> </li>

                    </ul>
                </li>
                <!-- other -->
                <li class="as">
                    <div class="idform">

                        <label>ShowCase Your Work →</label>
                        <div class="form-con">
                            <input class="idin" type="text" placeholder="">
                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </div>
    <!-- nav end -->
    <!-- nav end -->

    <div class="imagenes">
        <div class="batdetalle">
            <p class="batdetalle2"> <strong>Superman</strong> El héroe más poderoso del mundo, llegó desde el planeta Krypton con la misión de quedarse en el Planeta Tierra ya que Krypton, su planeta, sufriría una gran explosión. DC Comics presenta a un personaje de acción,
                donde continuamente se enfrenta a múltiples peligros dictaminados por el bien y el mal. Clark Kent, por el contrario es un hombre que trabaja como reportero en el Daily Planet y que oculta la verdadera identidad de Superman. <br> <br>                Creado por el escritor estadounidense Jerry Siegel y el artista canadiense Joe Shuster en 1933 cuando ambos se encontraban viviendo en Cleveland, Ohio; lo vendieron a Detective Comics, Inc. en 1938 por 130 dólares estadounidenses5​ y la
                primera aventura del personaje fue publicada en Action Comics #1 (junio de 1938), para luego aparecer en varios seriales de radio, programas de televisión, películas, tiras periódicas y videojuegos. Con el éxito de sus aventuras, Superman
                ayudó a crear el género del superhéroe y estableció su primacía dentro del cómic estadounidense.1​ La apariencia del personaje es distintiva e icónica: un traje azul y rojo, con una capa y un escudo de “S” estilizado en su pecho,6 escudo
                que se ha convertido en un símbolo del personaje en todo tipo de medios de comunicación <br> <br> Superman ha resultado fascinante para los académicos y tanto tesistas culturales como comentaristas y críticos han explorado el impacto del
                personaje y su rol en los Estados Unidos y en el resto del mundo. Umberto Eco discutió las cualidades mitológicas del personaje a inicios de los años 1960 y Larry Niven escribió sobre las características de una hipotética relación sexual
                entre el personaje y Lois Lane.
            </p>
        </div>
        <!-- <div class="imgcontent">
                <div id="img5">
                </div>
            </div> -->

        <div class="imgcontent">
            <img class="imgclas" src="../img/13600.jpg" alt="">
        </div>
        <!-- <div id="img7">
            </div> -->


    </div>



    <script src="../bookshop/jquery-3.3.1.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>