<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/ww.css">
    <link rel="stylesheet" href="../css/batman.css">

    <title>Document</title>
</head>

<body>
    <!-- baner -->
    <div class="containe" id="WW">
        <div class="banerdiv">
            <!-- <a href="https://www.google.com/">google</a> -->
            <div class="description">
                <a class="p1" href="../index.html">COMIcSam</a>
                <p class="p2">PILOT</p>
                <!-- <input id="chek" type="checkbox"> -->
                <label for="chek" class="icon-menu"></label>


            </div>
            <div class="description2">
                <label for="">* We can all be<br><label>&nbsp</label><label>&nbsp</label> Super Heroes</label>
            </div>
        </div>

    </div>

    <!-- nav -->
    <!-- nav -->
    <div class="idnav">
        <div class="idnav2">


            <ul class="idgaul">

                <li class="idgali"><a>DC</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./Batman.html">Batman</a> </li>
                        <li class="idgali"><a href="./superman.html">Superman</a></li>
                        <li class="idgali"><a href="./ww.html">W W</a></li>
                    </ul>
                </li>
                <li class="idgali"><a>Marvel</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./america.html">C America</a> </li>
                        <li class="idgali"><a href="./spaydi.html">Spider Man</a></li>
                        <li class="idgali"><a href="./xmen.html">X-Man</a></li>
                    </ul>
                </li>
                <li class="idgali"><a>Gallery</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./top.html">Top</a> </li>

                    </ul>
                </li>
                <!-- other -->
                <li class="as">
                    <div class="idform">

                        <label>ShowCase Your Work →</label>
                        <div class="form-con">
                            <input class="idin" type="text" placeholder="">
                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </div>
    <!-- nav end -->
    <!-- nav end -->
    <div class="imagenes">
        <div class="batdetalle">
            <p class="batdetalle2"> <strong>La Mujer Maravilla (Wonder Woman)</strong> Es una superheroína ficticia creada por William Moulton Marston para la editorial DC Comics. El personaje es una princesa guerrera de las Amazonas (basado en la raza de las amazonas de la
                mitología griega) y es conocida en su tierra natal como la princesa Diana de Temiscira. <br> <br> Cuando está fuera de su tierra natal, utiliza un alter-ego, por lo que también es conocida por su identidad secreta Diana Prince. Está dotada
                de una amplia gama de poderes superhumanos y habilidades de combate de batalla superiores, gracias a sus dones obtenidos de los dioses y su amplio entrenamiento. Ella posee un gran arsenal de armas, incluyendo entre las principales el
                Lazo de la Verdad, un par de brazaletes mágicos indestructibles, su tiara, que sirve como arma, y en algunos relatos, en la edad de oro, tuvo un avión invisible. <br> <br> En una entrevista realizada el 25 de octubre de 1940 en la revista
                Family Circle, William Moulton Marston discutió el medio potencial que nunca se había podido explotar. En este artículo llamó la atención del editor de historietas Max Gaines, quien contrató a Marston como consultor educativo para National
                Periodicals y All-American Publications, dos de las empresas que se fusionarían para formar DC Comics. En ese momento, Marston decidió desarrollar a un nuevo superhéroe; Con la ayuda de su esposa, Elizabeth, sugirió que creara a una superheroína
                femenina </p>
        </div>
        <!-- <div class="imgcontent">
                <div id="img5">
                </div>
            </div> -->

        <div class="imgcontent">
            <img class="imgclas" src="../img/wonder-woman-dc-comics.jpg" alt="">
        </div>
        <!-- <div id="img7">
            </div> -->


    </div>




    <script src="../bookshop/jquery-3.3.1.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>