<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/top.css">
    <link rel="stylesheet" href="../css/batman.css">
    <link rel="stylesheet" href="../css/xmen.css">
    <title>Document</title>
</head>

<body>
    <!-- baner -->
    <div class="containe" id="xm">
        <div class="banerdiv">
            <!-- <a href="https://www.google.com/">google</a> -->
            <div class="description">
                <a class="p1" href="../index.html">COMIcSam</a>
                <p class="p2">PILOT</p>
                <!-- <input id="chek" type="checkbox"> -->
                <label for="chek" class="icon-menu"></label>


            </div>
            <div class="description2">
                <label for="">* We can all be<br><label>&nbsp</label><label>&nbsp</label> Super Heroes</label>
            </div>
        </div>

    </div>

    <!-- nav -->
    <!-- nav -->
    <div class="idnav">
        <div class="idnav2">


            <ul class="idgaul">

                <li class="idgali"><a>DC</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./Batman.html">Batman</a> </li>
                        <li class="idgali"><a href="./superman.html">Superman</a></li>
                        <li class="idgali"><a href="./ww.html">W W</a></li>
                    </ul>
                </li>
                <li class="idgali"><a>Marvel</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./america.html">C America</a> </li>
                        <li class="idgali"><a href="./spaydi.html">Spider Man</a></li>
                        <li class="idgali"><a href="./xmen.html">X-Man</a></li>
                    </ul>
                </li>
                <li class="idgali"><a>Gallery</a>
                    <ul class="idgaul">
                        <li class="idgali"><a href="./top.html">Top</a> </li>

                    </ul>
                </li>
                <!-- other -->
                <li class="as">
                    <div class="idform">

                        <label>ShowCase Your Work →</label>
                        <div class="form-con">
                            <input class="idin" type="text" placeholder="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- end -->
    <div class="imagenes">
        <div class="batdetalle">
            <p class="batdetalle2">

                X-Men Primera aparición X-Men # 1 (septiembre de 1963) Creador(es) Stan Lee Jack Kirby Editorial Marvel Comics Base de operaciones) Mansión X Base de los Reavers. X-Men, también conocidos como Patrulla-X en España1​ y Los Hombres X en Hispanoamérica,
                son un grupo de superhéroes del Universo Marvel creado por Stan Lee y Jack Kirby. <br> <br> Sus aventuras han sido publicadas en diversos cómics de Marvel Comics. Además, se han realizado varias adaptaciones en películas,
                series de animación y otras obras derivadas. La serie parte de la idea de que la evolución humana seguiría activa, encontrándose de hecho ante una encrucijada en la que nacería una nueva especie con grandes poderes y capacidades, los mutantes.
                Los protagonistas de X-Men son un grupo de ellos; los mutantes se caracterizan, de entre los personajes superheróicos de los cómics, porque han adquirido superpoderes gracias a mutaciones y cambios en su estructura genética. <br> <br>                Por este motivo, Charles Xavier decide reclutar a un grupo de jóvenes mutantes y adiestrarlos en el uso de sus poderes, con el doble fin de proteger a los humanos de mutantes malvados, así como de defender a los mutantes del miedo de los
                humanos. En contrapartida, otros grupos de mutantes buscarían rebelarse violentamente contra la humanidad; el principal de ellos sería el encabezado por Magneto, el archienemigo del grupo. </p>
        </div>
        <!-- <div class="imgcontent">
            <div id="img5">
            </div>
        </div> -->

        <div class="imgcontent">
            <img class="imgclas" src="../img/XMen-Blue-Gold-lista-personajes.jpg" alt="">
            <!-- <div class="imgcontent">
                Batman vs Superman - 2016
                <img id="batoculto" class="imgclas" src="../img/batgif.gif" alt="Batman vs Superman - 2016">
            </div> -->
        </div>

        <!-- <div id="img7">
        </div> -->


    </div>
    <script src="../bookshop/jquery-3.3.1.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>